<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Repito el slide por cada pelicula que tengo -->
        <div *ngFor="let cartelera of resultadosCartelera" class="swiper-slide" [ngStyle]="{'background-size':'cover','background-image':'url(https://image.tmdb.org/t/p/original' + cartelera.backdrop_path + ')'}"  >
            <div class="w-full h-40 bg-gray-900 bg-opacity-50 absolute bottom-0 p-4">
                <h3 class="text-white font-bold text-3xl mb-2">
                    {{ cartelera.original_title }}
                </h3>
                <p class="text-white text-lg">{{ cartelera.overview | slice:0:200 }}...</p>
            </div>
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev text-white"></div>
    <div class="swiper-button-next text-white"></div>
</div>