<div *ngIf="puedeMostrar">
    <h3 class="text-white text-3xl font-bold p-10">{{i_tituloPagina}}</h3>
    
    <div class="swiper" *ngIf="modoPop">
        <div class="swiper-wrapper">
            <app-tarjeta-pelicula *ngFor="let pelicula of pelisPopulares.results" [pelicula]="pelicula" ></app-tarjeta-pelicula>
        </div>
    </div>

    <div class="swiper" *ngIf="modoNov">
        <div class="swiper-wrapper">
            <app-tarjeta-pelicula></app-tarjeta-pelicula>
        </div>
    </div>
</div>