<div class="overflow-visible" (click)="verPelicula(pelicula.id)">
    <!-- Aca va el cover de la pelicula -->
    <div class="w-40 h-60 rounded-lg shadow-2xl relative overflow-visible" [ngStyle]="{'background-size':'cover','background-image':'url(https://image.tmdb.org/t/p/w200' + pelicula.poster_path + ')'}">
        <div class="w-10 h-10 bg-purple-500 rounded-full absolute -bottom-3 right-3 flex items-center justify-center font-bold text-white shadow-xl">
            {{ pelicula.vote_average }}
        </div>
    </div>
    <div class="w-40">
        <span class="text-white font-bold uppercase mt-4 block">{{pelicula.title}}</span>
        <span class="text-white font-light text-sm block">{{pelicula.release_date}}</span>
    </div>
</div>